<div class="row">
    <div class="col-md-4 order-md-1 mb-4">
        <ul class="list-sidemenu">
            <!-- <li class="list-itm">
                <a class="selected" href="/home">Causes</a>
            </li> -->
            <li class="list-itm">
                <a class="selected" href="/events/<%=selectedCauseId%>">Events</a>
            </li>
            <li class="list-itm">
                <a class="selected" href="/talkingpoints/<%=selectedCauseId%>">Talking points</a>
            </li>
            <li class="list-itm">
                <a class="selected" href="/resources/<%=selectedCauseId%>">Resources</a>
            </li>
            <li class="list-itm">
                <a class="selected" href="/survey/<%=selectedCauseId%>">Surveys</a>
            </li>
            <li class="list-itm">
                <a class="selected" href="/localmedia/<%=selectedCauseId%>">Local Media</a>
            </li>
            <li class="list-itm">
                <a class="selected" href="/sendnotification/<%=selectedCauseId%>">Send Notification</a>
            </li>
            <li class="list-itm">
               <a class="selected" href="/donationurls/<%=selectedCauseId%>">Donation urls</a>
            </li>
            <li class="list-itm">
                <span><a class="selected" href="/userresponse/<%=selectedCauseId%>">User Response</a></span>
            </li>
            
            <!-- <li class="list-group-item d-flex justify-content-between">
                <span>Option 5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Option 6</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Option 7</span>
            </li> -->
        </ul>
    </div>